<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJPQyAUmqm-S_f0W3-ZZHdTFTkkAUJwSk</string>
	<key>GCM_SENDER_ID</key>
	<string>365455953847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.responsiveapp.clg.responsiveapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-4deb3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-4deb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365455953847:ios:c4348e404a34a0a5752232</string>
</dict>
</plist>